table,
td {
  border: 1px solid grey;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  padding: 10px;
}

.wrapper {
  width: 30%;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 30px 15px;
  text-align: center;
}

.table-container {
  padding-top: 15px;
}

table+table {
  margin-top: 15px;
}

tr:nth-child(odd) td:nth-child(odd) {
  background: #dfdfdf;
}

tr:nth-child(even) td:nth-child(even) {
  background: #dfdfdf;
}